:root {
  --terminal-background: black;
  --input-background: black;
  --input-color: silver;
  --input-prefix-color: #3a3a3a;
  --echo-color: #808000;
  --log-message-color: #3a3a3a;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(64, 64, 64, 1.0);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 14pt;
}

a {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid blue;
  cursor: pointer; /* combined hover effect */
}

textarea, #output, #output pre {
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.localEcho {
  color: var(--echo-color);
}

.logMessage {
  color: var(--log-message-color);
  font-weight: bold;
}

#terminal {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  background: var(--terminal-background);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#output {
  position: absolute;
  top: 0;
  bottom: 4.5em; /* Match the height of the input box */
  left: 0;
  right: 0;
  padding: 1em;
  overflow-y: auto; /* Vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#input {
  color: var(--input-color);
  height: 3em;
  border: none;
  outline: none;
  flex-grow: 1;
  resize: none;
  padding: 0.5em;
  overflow: auto; /* Enable scrolling */
  background: var(--input-background);
}

.input-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 0.5em 0.5em 0.5em;
  background: var(--input-background);
}

.input-prefix {
  color: var(--input-prefix-color);
  align-self: top;
  padding-top: 0.5em;
}
